<h1><%= @shelter.name %></h1>
<p>City: <%= @shelter.city %></p>

<h3>Shelter Statistics</h3>
<p>Number of adoptable pets: <%= @shelter.num_adoptable %></p>
<p>Average age of adoptable pets: <%= @shelter.average_pet_age %></p>
<p>Number of adopted pets: <%= @shelter.adopted_pets_count %></p>
